<?xml version="1.0"?>
<model>
  <name>track_preview_car</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Codex</name>
    <email>support@example.com</email>
  </author>
  <description>Small car model that can be moved around the imported autonomous map.</description>
</model>
