<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>traffic_light_toy_yellow</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>my_robot_vision</name>
  </author>
  <description>Traffic light toy with the yellow lens lit for sign staging.</description>
</model>